{% extends 'registration/base.html' %}
{% block content %}


<div class="container container-class">
  <div class="topad">
    <div class="col-md-12">
      <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-5 image-top ">
          <div class="login_image  text-center">
            <img src="/static/images/company_logo.png" alt="SuiteCRM" style="margin: 5px 0;width: 60%;">
          </div>
          <div class="form_login">
            <div class="form-group">
              <!-- <ul> -->
                <p class="mb-3">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
                </p>
                <p class="mb-3">
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </li>
                <p class="">
                  <a href="/"><b>Login</b></a>
                </p>
              <!-- </ul> -->
            </div>
          </div>
        </div>
        <div class="col-md-7 hidden-sm hidden-md image-view">
          
        </div>
      </div>
    </div>
    
  </div>
</div>

<style>
    ul {
  list-style-type: none;
}

body {
  background-color: #DBE1EE !important;
}
    .image-top {
      background-color: #fff !important;
      padding-top:50px;
    /* padding-bottom:150px; */
      border-radius: 25px 0px 0px 25px;
  }

  @media only screen and (max-width: 600px) {
    .image-top {
          border-radius: 25px 25px !important;
    }
  }

  .form-group {
    margin-left: 30px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: 600px) {
    .form-group {
      margin-left: 0px !important;
      padding-bottom: 30px !important;
    }
  }

  .form_login {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }
  @media only screen and (max-width: 600px) {
    .form_login {
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top: 25px !important;
    }
  }
  .login_image{
    padding:30px;
  }
  @media only screen and (max-width: 600px) {
        .login_image{
          padding:15px !important;
        }
      }

  .Forget {
    padding-bottom: 50px;
  }
  .container-class {
    margin-top:40px;
    background-color: #DBE1EE !important;
  }
  @media only screen and (max-width: 600px) {
    .container-class {
      margin-top:0px !important;
    }
      }
  .box-radius {
    margin-top:60px;
  }
  .topad{
    margin: 0 auto;
   }
   @media only screen and (max-width: 600px) {
    .topad{
      margin: 0 auto;
      padding-bottom: 30px !important;
    }
      }
  .image-view{
    background-image: url(/static/images/image_login.png);
    border-radius: 0px 25px 25px 0px;
   }
   @media only screen and (max-width: 600px) {
    .image-view{
      display: none !important;
      }
    }
.btn-danger{
  background-color: rgb(101,105,122) !important;
    border-color:rgb(101,105,122) !important;
    color: #fff!important;
}
.btn-danger:hover{
  background-color: #03a9f4 !important;
  border-color:#03a9f4 !important;

    border: none;

}

</style>
<!-- <div class="ow marl justify-content-center login_row">
  <div class="login_block">
    <div class="login_form_block">
      <div class="welcome">Django CRM</div>
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
      <p class="text-center">
        <a href="/">Login</a>
      </p>
    </div>
  </div>
</div> -->
{% endblock %}