{% extends 'registration/base.html' %}
{% block content %}

<div class="container container-class">
  <div class="topad">
    <div class="col-md-12">
      <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-5 image-top ">
          <div class="login_image  text-center">
            <img src="../static/images/company_logo.png" alt="SuiteCRM" style="margin: 5px 0;width: 60%;">
          </div>
          <div class="form_login">
            <form  method="POST" action="">
              <div class="form-group">
                <label for="exampleInputEmail1" class="mb-3">Forgot Password</label>
                <input type="text" class="form-control" id="exampleinputmail" placeholder="Email" name="email" value="{{request.POST.email}}">
              </div>
              <span class="error">{{ form.email.errors }}</span>
              {% csrf_token %}
              
              <button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Submit</button>
              <div class="form-group text-center forgot float-right">
                Already Have An Account? <a href="{% url 'common:home' %}"><b>Login</b></a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7 hidden-sm hidden-md image-view">
          
        </div>
      </div>
    </div>
    
  </div>
</div>

<style>

    .image-top {
      background-color: #fff !important;
      padding-top:50px;
    /* padding-bottom:150px; */
      border-radius: 25px 0px 0px 25px;
  }
  @media only screen and (max-width: 600px) {
    .image-top {
          border-radius: 25px 25px !important;
    }
  }
  .form_login {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }
  @media only screen and (max-width: 600px) {
    .form_login {
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top: 25px !important;
    }
  }
  .login_image{
    padding:30px;
  }
  @media only screen and (max-width: 600px) {
        .login_image{
          padding:15px !important;
        }
      }
  .Forget {
    padding-bottom: 50px;
  }
  .container-class {
    margin-top:40px;
    background-color: #DBE1EE !important;
  }
  @media only screen and (max-width: 600px) {
    .container-class {
      margin-top:0px !important;
    }
      }
  .box-radius {
    margin-top:60px;
  }
  .topad{
    margin: 0 auto;
   }
   @media only screen and (max-width: 600px) {
    .topad{
      margin: 0 auto;
      padding-bottom: 30px !important;
    }
      }
  .image-view{
    background-image: url(../static/images/image_login.png);
    border-radius: 0px 25px 25px 0px;
   }
   @media only screen and (max-width: 600px) {
    .image-view{
      display: none !important;
      }
    }
  .form-control{
    background-image: none, url(../../../../../themes/SuiteP/images/login_bg.png);
    background-position: 5px -57px;
    background-repeat: no-repeat;
  }
.btn-danger{
  background-color: rgb(101,105,122) !important;
    border-color:rgb(101,105,122) !important;
    color: #fff!important;
}
.btn-danger:hover{
  background-color: #03a9f4 !important;
  border-color:#03a9f4 !important;

    border: none;

}
.forgot {
  margin-top: 20px;
  padding-bottom: 90px;
}

@media only screen and (max-width: 600px) {
  .forgot {
  margin-top: 20px !important;
  padding-bottom: 10px !important;
}
      }
</style>

{% endblock %}
