{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
{% load widget_tweaks %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'contacts:list' %}">Contacts</a></li>
    <li class="breadcrumb-item active">{% if contact_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="add_form" method="POST" action='' >
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title pannel">
            {% if contact_obj %}EDIT{% else %}CREATE{% endif %} CONTACT
          </div>
          <div class="row marl">
            <!-- <div class="col-md-4"> -->
              <div class="line filter_col col-md-4">                
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1" class="required">First
                      name{% if contact_form.first_name.field.required %}<span
                        class="error">*</span>{% endif %}</label>
                  </div>
                  <div class="col-md-8">
                    {{ contact_form.first_name }}
                    <span class="error">{{ contact_form.first_name.errors }}</span>
                  </div>
                </div>
              </div>

              <div class=" line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1" class="required">Last
                      name{% if contact_form.last_name.field.required %}<span
                        class="error">*</span>{% endif %}</label>
                  </div>
                  <div class="col-md-8">
                    {{ contact_form.last_name }}
                    <span class="error">{{ contact_form.last_name.errors }}</span>
                  </div>
                </div>
              </div>   
              

              <div class="line filter_col col-md-4">                
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1" class="required">Company
                      name{% if contact_form.company_name.field.required %}<span
                        class="error">*</span>{% endif %}</label>
                  </div>
                  <div class="col-md-8">
                    {{ contact_form.company_name }}
                    <span class="error">{{ contact_form.company_name.errors }}</span>
                  </div>
                </div>
              </div>

              <!-- <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>

                </div>
              </div>
               -->
              
              
              

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail2" class="required">Mobile number</label>
                  </div>
                  <div class="col-md-8">
                    {% render_field contact_form.phone2 pattern="/^-?\d+\.?\d*$/"  onKeyPress="if(this.value.length==11) return false;" %}

                    <!-- {{ contact_form.phone2 }} -->
                    <span class="error phonealert2">{{ contact_form.phone2.errors }}</span>
                  </div>
                </div>
              </div>

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4 ">
                    <label for="exampleInputEmail1" class="required">Phone number</label>
                  </div>
                  <div class="col-md-8">
                    
                    {% render_field contact_form.phone1 pattern="/^-?\d+\.?\d*$/" maxlength="11" onKeyPress="if(this.value.length==11) return false;" %}
                    <!-- {{ contact_form.phone1 }} -->
                    <span class="error phonealert">{{ contact_form.phone1.errors }}</span>
                  </div>
                </div>
              </div>

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1" class="required">Email
                      address{% if contact_form.email.field.required %}<span class="error">*</span>{% endif %}</label>
                  </div>
                  {% if contact_obj %} 

                  <div class="col-md-8">
                    <section>
                      <table class="contexts-list">
                        {% for email in email %}
                         
                        <tr>
                          <td><input name="defaultSelected" id="default_0" class="mr-2 mb-2" type="radio" value="0" checked></td>
                          <td><input type="email" name="context"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="chooseContext mr-2 mb-2" placeholder="email" value="{{email.email}}"></td>
                          <td><button id="add-context" class="btn btn-primary float-right mb-2" type="button"><i class="fa fa-plus"></i></button></td>
                          <!-- <td><button id="remove-context" class="btn btn-primary" type="button"><i class="fa fa-minus"></i></button></td> -->
                        </tr>
                        {% endfor %}
                      </table>
                    </section>
                  </div>
                  {% else %}
                  <div class="col-md-8">
                    <section>
                      <table class="contexts-list">
                        <tr>
                          <td><input name="defaultSelected" class="mr-2 mb-2" id="default_0" type="radio" value="0" checked></td>
                          <td><input type="email" id="id_email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="context" class="chooseContext mr-2 mb-2" placeholder="email"></td>
                          <td><button id="add-context" class="btn btn-primary float-right mb-2" type="button"><i class="fa fa-plus"></i></button></td>
                          <!-- <td><button id="remove-context"  class="btn btn-primary" type="button"><i class="fa fa-minus"></i></button></td> -->
                        </tr>
                      </table>

                      <!-- <button id="applyButton" type="button">apply</button> -->
                    </section>
                  </div>
                  {% endif %}
                </div>
              </div>
              
              
              <!-- <div class="line filter_col col-4">
                <div class="row">
                  <div class="col-md-4 pl-5">
                    <label for="exampleInputEmail1">Assigned Users</label>
                  </div>
                  <div class="col-md-8">
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple"
                      id="id_assigned_to">
                      {% for user in users %}
                      <option value="{{user.id}}"
                        {% if user in contact_obj.assigned_to.all or user.id in assignedto_list %} selected=""
                        {% endif %}>{{user.email}}</option>
                      {% endfor %}
                    </select>
                    <span class="error">{{ contact_form.assigned_to.errors }}</span>
                  </div>
                </div>
              </div> -->

              <!-- {% if request.user.is_superuser or request.user.role == 'ADMIN' %}
              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="id_sattus">Teams{% if contact_form.teams.field.required %}<span
                        class="error">*</span>{% endif %}</label>
                  </div>
                  <div class="col-md-8">
                    <select name="teams" id="id_teams" class="assigned_users form-control" multiple>
                      {% for team in teams %}
                      <option data-users="{{team.get_users}}" value="{{team.id}}" {% if team in contact_obj.teams.all %}
                        selected="" {% endif %}>
                        {{team}}</option>
                      {% endfor %}
                    </select>
                    <span class="error" id="id__teams">{{ contact_form.teams.errors }}</span>
                  </div>
                </div>
              </div>
              {% endif %} -->

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">Address</label>
                  </div>
                  <div class="col-md-8">
                    {{ contact_form.address }}
                    <!-- <span class="error">{{ contact_form.address.errors }}</span> -->
                  </div>
                </div>
              </div>
              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">City</label>
                  </div>
                  <div class="col-md-8">
                    {{ address_form.city }}
                    <span class="error">{{ address_form.city.errors }}</span>
                  </div>
                </div>
              </div>

              <!-- <div class="line filter_col  col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="id_sattus"><span class="">Users</span></label>
                  </div>
                  <div class="col-md-8">
                    <select name="" aria-readonly="true" id="_id_assigned_to" class=" form-control" multiple>
                      {% if contact_obj and contact_obj.teams.all %}
                      {% for user in users %}
                      {% if user in contact_obj.get_team_users %}
                      <option value="{{user.id}}" selected="">{{user.email}}</option>
                      {% else %}
                      <option value="{{user.id}}">{{user.email}}</option>
                      {% endif %}
                      {% endfor %}
                      {% else %}
                      {% for user in users %}
                      <option value="{{user.id}}">{{user.email}}</option>
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div> -->

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">State</label>
                  </div>
                  <div class="col-md-8">
                    {{ address_form.state }}
                    <span class="error">{{ address_form.state.errors }}</span>
                  </div>
                </div>
              </div>

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">Postal/Zip</label>
                  </div>
                  <div class="col-md-8">
                    {{ address_form.postcode }}
                    <span class="error">{{ address_form.postcode.errors }}</span>
                  </div>
                </div>
              </div>
              

              <!-- <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">Description{% if contact_form.description.field.required %}<span
                        class="error">*</span>{% endif %}</label>
                  </div>
                  <div class="col-md-8">
                    {{ contact_form.description }}
                    <span class="error">{{ contact_form.description.errors }}</span>
                  </div>
                </div>
              </div> -->

              <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="exampleInputEmail1">Country</label>
                  </div>
                  <div class="col-md-8">
                    {% render_field address_form.country class+="vj" %}
                    <!-- {{ address_form.country }} -->
                    <span class="error">{{ address_form.country.errors }}</span>
                  </div>
                </div>
              </div>

              
              
              <!-- <div class="line filter_col col-md-4">
                <div class="row">
                  <div class="col-md-4 pl-5">
                    <label for="exampleInputEmail1">Attachment</label>
                  </div>
                  <div class="col-md-8">
                    <input type="file" name="contact_attachment">
                    {% if contact_obj.contact_attachment.count %}
                    {% for attachment in contact_obj.contact_attachment.all %}
                    <div id="attachment{{attachment.id}}" class="mt-2">
                      <a target="_blank" href="{{ attachment.attachment.url }}">{{ attachment.file_name }}</a>
                      {% if not attachment.created_by.role == 'ADMIN' or attachment.created_by.role == request.user.role %}
                      <a class="action btn primary_btn" onclick="remove_attachment({{attachment.id}})">X</a>
                      {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                </div>
              </div> -->

              
              
              
            <!-- </div> -->
            <!-- <div class="col-md-4"> -->

              
            <!-- </div> -->



            <!-- <div class="col-md-4"> -->
              
                                        
              
            <!-- </div> -->
            

            <input type="hidden" id="save_new_form" name="savenewform">
            <div class="col-md-12 mt-5 mb-3">
              <div class="row marl buttons_row form_btn_row">
                <button class="btn btn-success" style="font-size: 16px;" id="myBtn" type="submit">Save</button>
                {% if not contact_obj %}
                <!-- <button class="btn btn-success save savenew" type="submit">Save & New</button> -->
                <a type="submit" class="btn btn-success save savenew" id="myBtn1" href="{% url 'cases:add_case' %}">Save & Continue</a>
                
              {% endif %}
                <a {% if request.GET.view_account %} href="{% url 'accounts:view_account' request.GET.view_account %}"
                  {% else %} href="{% url 'contacts:list' %}" {% endif %} class="btn btn-danger"
                  id="create_contact_cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $("#id_phone1").bind("keyup keydown", function() {		
    var mobileNum =  $(this).val()
    if(mobileNum.length < 7) {
      $("span.phonealert").html("Enter a valid number");
      
    } else {
      $("span.phonealert").html("");
    }
  });

  $("#id_phone2").bind("keyup keydown", function() {		
    var mobileNum =  $(this).val()
    if(mobileNum.length < 7) {
      $("span.phonealert2").html("Enter a valid number");
      
    } else {
      $("span.phonealert2").html("");
    }
  });


  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#add_form').submit()
  });
  $(document).ready(function () {
    $('.assigned_users').select2();
    $('#id_teams').select2();
    $('#_id_assigned_to').select2({ disabled: 'readonly' });

  });
  function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "cases:remove_attachment" %}', {
        "attachment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.errors)
        } else {
          $("#attachment" + data.attachment_object).remove()
        }
      })
    }
  }

  $("#id_teams").change(function (e) {
    try {
      var users = []
      $('#id_teams option:selected').each(function () {
        // users.push($(this).attr('data-users'))
        _data = $(this).attr('data-users');
        if (!users) {
          // users = []
        } else {
          users = users.concat(_data.split(','))
        }
      })
      // users = $('option:selected', this).attr('data-users')
      // if (!users) {
      //   users = []
      // } else {
      //   users = users.split(',')
      // }
      console.log('selected users teams data', users)
      var existingUsers = $('#id_assigned_to').val();
      var allUsers = users.concat(existingUsers)
      console.log(existingUsers)
      if (users.length) {
        $('#_id_assigned_to').select2().val(allUsers).trigger('change');

      }
    } catch (error) {
      console.log(error)
      $('#_id_assigned_to').select2().val(existingUsers).trigger('change');
    }

  });
</script>
<script> 
$(document).ready(function () {

var $table = $('table.contexts-list'),
  counter = 1;

// Dynamically add contexts to the settings dialog 
$('#add-context').click(function (event) {
  event.preventDefault();

  var newRow =
    '<tr>' +
    '<td><input name="defaultSelected" class="mr-2 mb-2" id="default_' + counter + '" type="radio" value="' + counter + '"></td>' +
    '<td><input type="email" name="context" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="chooseContext mr-2 mb-2" placeholder="e-mail"/></td>' +
    '<td><button id="remove-context"  class="btn btn-danger mb-2" type="button"><i class="fa fa-minus"></i></button></td>' +
    '</tr>';
  $table.append(newRow);

  counter++;
});

// Remove the context the user selects
$table.on('click', '#remove-context', function () {
  $(this).closest('tr').remove();
});

});
$(document).ready(function(){
    $("#myBtn").click(function(){
        var str = $("#id_first_name").val();
        localStorage.setItem("contact",str)
    });
}); 
$(document).ready(function(){
    $("#myBtn1").click(function(){
        var str = $("#id_first_name").val();
        var str1 = $("#id_phone1").val();
        localStorage.setItem("ph",str1)
        localStorage.setItem("contact",str)
    });
}); 

  var phones=localStorage.getItem("phone")
  if (localStorage.getItem('phone')===null){
    console.log('sucess')
  }
  else{

  
  window.onload = document.getElementById('id_phone1').value=phones
  window.onload = localStorage.removeItem("phone")
  }
// var sd=document.getElementById('id_name').value
// localStorage.setItem("cname",sd)
var phones=localStorage.getItem("emailcontact")
if (localStorage.getItem('emailcontact')===null){
console.log('print')
}
else{
  window.onload = document.getElementById('id_email').value=phones
  window.onload = localStorage.removeItem("emailcontact")
  console.log("id_email")
}
</script>
<style>
  .pannel{
    background: #f1eff1 !important;
    color: #2a2a2b !important;
    padding: 0 !important;
    height: 32px !important;
    border-color: #ebe9ec !important;
}
.line{
    margin: 0 0 12px 0 !important;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* .save{
  background-color: #00235a !important;

}
.save:hover{
  background-color: #0d8fc7 !important;

}
.savenew{
  border: none !important; 

}
.clear{
    background-color: #00235a !important;
    border: none !important; 
    border-radius: 0 !important;
    color: white !important;
  } */
  .vj{
    background: url(/static/images/select.ico) no-repeat right #fff !important;
    /* background-color: #fff; */
    background-size: 31px 52px !important;
    color: #65697a !important;
    padding: 0 52px 0 5px !important;
    border-color: #a5e8d6 !important;
    border-style: solid !important;
    /* border-radius: 4px !important; */
    line-height: 28px !important;
    outline: 0 !important;
    /* height: 28px !important; */
    

  }


</style>
{% endblock js_block %}