{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block extralinks %} 

<style>
  .text_ellipsis {
    width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  section.dashboard-count .row {
    padding: 15px 15px;
    /* margin: 0; */
    margin-top: 85px;
}
section.dashboard-count .title {
  font-size: 1.1em;
  font-weight: 300;
  color: #777;
  margin: 0 20px;
}

.colrs1{
    background-image: linear-gradient(45deg,#5b2bea 0%,#2f75ff 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs2{
    background-image: linear-gradient(45deg, #f36d2c 0%,#ffb922 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs4{
    background-image: linear-gradient(45deg,#01ab8f 0%,#8bc344 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs3{
    background-image: linear-gradient(45deg,#ff2b6a 0%,#ff6b00 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .progress-bar {
    background-color: #ffc107 !important;
  }
  .dot1 {
  background-color: #4e01a5;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot2 {
  background-color: #ab5000;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot3 {
  background-color: #018150;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot5 {
  background-color: #ac0229;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
section.dashboard-counts div[class*='col-'] .item {
    /* border-right: 1px solid #eee; */
    padding: 0px 0px !important;
    /* text-align: center!important; */
    /* padding-left: 30px; */
}
section.dashboard-counts div[class*='col-'] .item1 {
    padding: 0px 0px;
    /* text-align: center!important; */
    /* padding-left: 30px; */
}
section.dashboard-counts .number {
    font-size: 1.0em !important;
    color: #fff;
    font-weight: 300;
}
section.dashboard-counts .title {
    font-size: 1.3em !important; 
    font-weight: 300;
    color: #fff;
    width:100%;
    /* margin: 0 25px; */
}
.title1 {
  float:left;
  font-size: 1.3em !important;
  font-weight: 300;
  color: #fff;
  margin: 0 15px !important;
}
section.dashboard-counts .row {
    padding: 0px 0px 30px 0px !important;
    /* margin: 0; */
    /* margin-top: 30px !important; */
}
.heading {
  padding:0px;
}
.fa-2x {
    font-size: 1.5em;
}
body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    background: #ffffff;
}
.borderless th {
    border: none;
}
.btns {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    border: 1px solid #007bff;
    cursor: pointer;
    /* font-size: 18px; */
  }

  /* Style the active class, and buttons on mouse-over */
  .active,
  .btns:hover {
    background-color: #007bff;
    color: white;
  }

</style>
{% endblock %}
{% block content %}
{% load common_tags %}
<div class="col-md-12">
  <div class="row heading2">
    <div class="title1  float-left" style="color: #aaa;"><b>Sales Dashboard</b></div>
  </div>
  <div class="row">
    <div class="col-md-6" id="myDIV">
      {% if request.user.is_superuser %}
    <a href="{% url 'common:home' %}">
      <button type="button" class="but_on btn btn-outline-primary mr-3 pb-2" id="tab1">
        All
      </button>
    </a>
    <a href="{% url 'common:saleindividual' %}">
      <button type="button" class="but_on btn btn-outline-primary pb-2 active" id="tab2">
        Individual
      </button>
    </a>
    {% endif %}
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="form-control-label pl-3 pr-3 pt-3"><b>From Date</b></label>
        <div class="pr-3 pt-2">
          <input id="datepicker"  style="width:200px" type="datepicker" class="form-control" name="date" value="{{date}}" placeholder="Select Date" />
        </div>
        <label class="form-control-label pl-1 pr-3 pt-3"><b>To Date</b></label>
        <div class="pt-2" >
          <input id="topicker"  style="width:200px" type="datepicker" class="form-control"  name="tod" value="{{tod}}" placeholder="To Date" />
        </div>
        <div class="pt-2 pl-4">
          <form id="date_fromto_filter" method="GET" action="{% url 'common:saleindividual' %}">
            <input id="dates" type="hidden" name="fromstatus" style="display: none;">
            <input id="todate" type="hidden" name="toostatus" style="display: none;">
            <button type="submit" style="width:100px" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
  <div id="all">
    <div class="col-md-12">
      <section class="dashboard-counts">
        <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'leads:list' %}">
                <div class="colrs2">
                  <div class="item d-flex align-items-center">
                    <div class="dot2 bg-red"><i class="fas fa-address-book  fa-2x"></i></div>
                    <div class="title"><span>Leads</span>
                      <div class="number"><strong>{{countlead}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-6">
              <a href="{% url 'contacts:list' %}">
                <div class="colrs4">
                  <div class="item1 d-flex align-items-center">
                    <div class="dot3 bg-orange"><i class="fa fa-user-circle fa-2x"></i></div>
                    <div class="title"><span>Contacts</span>
                      <div class="number"><strong>{{contacts_count}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'accounts:list' %}">
                <div class="colrs1">
                  <div class="item d-flex align-items-center">
                    <div class="dot1 bg-green"><i class="fa fa-user fa-2x"></i></div>
                    <div class="title"><span>Accounts</span>
                      <div class="number"><strong>{{countaccount}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
            
            
            
            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'opportunities:list' %}">
                <div class="colrs3">
                  <div class="item d-flex align-items-center">
                    <div class="dot5 bg-violet"><i class="fas fa-funnel-dollar fa-2x"></i></div>
                    <div class="title"><span>Opportunities</span>
                      <div class="number"><strong>{{countopportunities}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
            
          </div>
        <!-- </div> -->
      </section>
    </div>

    <div class="col-md-12">
      <section class="charts">
        <div class="row">
          <div class="col-lg-12">
            <div class="line-chart-example card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Sales Pipeline by Sales Rep</h3>
              </div>
              <div class="card-body">
                <div id="salesrep"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  </div>


  

{% endblock %}
{% block js_block %}

<script>
var currentTime = new Date();
var startDateFrom = new Date(currentTime.getFullYear(),currentTime.getMonth(),1);
console.log(startDateFrom, "---> startDateFrom")
var startDateTo = new Date(currentTime.getFullYear(),currentTime.getMonth() +1,0);
console.log(startDateTo, "startDateTo")
var today = new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate());

// From date picker
var ftg = document.getElementById('datepicker').value
console.log(ftg,"---------->>>>>>>>")
var ftgbn = document.getElementById('topicker').value
console.log(ftgbn,"---------->>>>>>>>")


var myform = document.getElementById('date_fromto_filter');
myform.onsubmit = function(){ 
  var fromdate = document.getElementById('datepicker').value
    document.getElementById('dates').value = fromdate
    var todate = document.getElementById('topicker').value
    document.getElementById('todate').value = todate
    myform.submit();
};

$("#datepicker").datepicker({
    dateFormat: 'dd-mm-yy',
    // minDate: startDateFrom,
    maxDate: '0',
    onSelect: function(selected) {
      $("#topicker").datepicker("option","minDate", selected)
    }
})

// To date picker
  $('#topicker').datepicker({
    dateFormat: 'dd-mm-yy', 
    maxDate: '0',
    onSelect: function(selected) {
      $("#datepicker").datepicker("option","maxDate", selected)
    }
  })
  // .on("input change", function (e) {
  //   console.log("Date changed: ", e.target.value);
  //   var todates = e.target.value
  //   var fromdate = document.getElementById('datepicker').value
  //   document.getElementById('dates').value = fromdate
  //   var todate = document.getElementById('topicker').value
  //   document.getElementById('todate').value = todate

  //   $("#datepicker").datepicker("option","maxDate", todate) 
  //   $('#date_fromto_filter').submit();
  // })
// graph for weekly

Highcharts.chart('salesrep', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Sales of Amount'
    },
    colors: [
      
      'rgb(0,191,255)',
      'rgb(102,178,255)',
      
      'rgb(51,153,255)',
      'rgb(0,128,255)',
   
      'rgb(0,102,204)',
      'rgb(8, 29, 99)'
          ],
    xAxis: {
      title: {
            text: 'Opportunity by owner'
        },
        categories: [{% for u in sdata%}"{{u.username}}",{% endfor%}]
    },
    yAxis: {
        min: 0,
        
    },
    credits: {
        enabled: false
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Aborted / Closed Lost',
        data: [{% for p in sdata%}{{p.aborted_closed_lost}},{% endfor %}]
    },{
        name: 'Closed / Won',
        data: [{% for p in sdata%}{{p.closed_won}},{% endfor %}]
    },{
        name: 'Proposal / Quote Sent',
        data: [{% for p in sdata%}{{p.proposal_quote_sent}},{% endfor %}]
    }, {
        name: 'Trial / POC',
        data: [{% for p in sdata%}{{p.trial_poc}},{% endfor %}]
    }, {
        name: 'Interest',
        data: [{% for p in sdata%}{{p.interest}},{% endfor %}]
    },{
        name: 'Prospect',
        data: [{% for p in sdata%}{{p.prospect}},{% endfor %}]
    }]
});



</script>


{% endblock js_block %}