{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block extralinks %} 

<style>
  .text_ellipsis {
    width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  section.dashboard-count .row {
    padding: 15px 15px;
    /* margin: 0; */
    margin-top: 85px;
}
section.dashboard-count .title {
  font-size: 1.1em;
  font-weight: 300;
  color: #777;
  margin: 0 20px;
}

.colrs1{
    background-image: linear-gradient(45deg,#5b2bea 0%,#2f75ff 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs2{
    background-image: linear-gradient(45deg, #f36d2c 0%,#ffb922 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs4{
    background-image: linear-gradient(45deg,#01ab8f 0%,#8bc344 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .colrs3{
    background-image: linear-gradient(45deg,#ff2b6a 0%,#ff6b00 90%) !important;
    padding:15px;
    border-radius: 3px;
  }
  .progress-bar {
    background-color: #ffc107 !important;
  }
  .dot1 {
  background-color: #4e01a5;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot2 {
  background-color: #ab5000;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot3 {
  background-color: #018150;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.dot5 {
  background-color: #ac0229;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
section.dashboard-counts div[class*='col-'] .item {
    /* border-right: 1px solid #eee; */
    padding: 0px 0px !important;
    /* text-align: center!important; */
    /* padding-left: 30px; */
}
section.dashboard-counts div[class*='col-'] .item1 {
    padding: 0px 0px;
    /* text-align: center!important; */
    /* padding-left: 30px; */
}
section.dashboard-counts .number {
    font-size: 1.0em !important;
    color: #fff;
    font-weight: 300;
}
section.dashboard-counts .title {
    font-size: 1.3em !important; 
    font-weight: 300;
    color: #fff;
    width:100%;
    /* margin: 0 25px; */
}
.title1 {
  float:left;
  font-size: 1.3em !important;
  font-weight: 300;
  color: #fff;
  margin: 0 15px !important;
}
section.dashboard-counts .row {
    padding: 0px 0px 30px 0px !important;
    /* margin: 0; */
    /* margin-top: 30px !important; */
}
.heading {
  padding:0px;
}
.fa-2x {
    font-size: 1.5em;
}
body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    background: #ffffff;
}
.borderless th {
    border: none;
}
.btns {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    border: 1px solid #007bff;
    cursor: pointer;
    /* font-size: 18px; */
  }

  /* Style the active class, and buttons on mouse-over */
  .active,
  .btns:hover {
    background-color: #007bff;
    color: white;
  }

</style>
{% endblock %}
{% block content %}
{% load common_tags %}
<div class="col-md-12">
  <div class="row heading2">
    <div class="title1  float-left" style="color: #aaa;"><b>Sales Dashboard</b></div>
  </div>
  <div class="row">
    <div class="col-md-6" id="myDIV">
      {% if request.user.is_superuser %}
    <a href="{% url 'common:home' %}">
      <button type="button" class="but_on btn btn-outline-primary mr-3 pb-2 active" id="tab1">
        All
      </button>
    </a>
    <a href="{% url 'common:saleindividual' %}">
      <button type="button" class="but_on btn btn-outline-primary pb-2" id="tab2">
        Individual
      </button>
    </a>
    {% endif %}
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="form-control-label pr-3 pt-3 pl-3"><b>From Date</b></label>
        <div class="pr-3 pt-2">
          <input id="datepicker" style="width:200px" type="datepicker" class="form-control" name="date" value="{{date}}" placeholder="Select Date" />
        </div>
        <label class="form-control-label pl-1 pr-3 pt-3"><b>To Date</b></label>
        <div class="pt-2" >
          <input id="topicker" style="width:200px" type="datepicker" class="form-control"  name="tod" value="{{tod}}" placeholder="To Date" />
        </div>
        <div class="pl-4 pt-2">
          <form id="date_fromto_filter" method="GET" action="{% url 'common:home' %}">
            <input id="dates" type="hidden" name="fromstatus" style="display: none;">
            <input id="todate" type="hidden" name="toostatus" style="display: none;">
            <button type="submit"  style="width:100px" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
  <div id="all">
    <div class="col-md-12">
      <section class="dashboard-counts">
        <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'leads:list' %}">
                <div class="colrs2">
                  <div class="item d-flex align-items-center">
                    <div class="dot2 bg-red"><i class="fas fa-address-book  fa-2x"></i></div>
                    <div class="title"><span>Leads</span>
                      <div class="number"><strong>{{countlead}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-6">
              <a href="{% url 'contacts:list' %}">
                <div class="colrs4">
                  <div class="item1 d-flex align-items-center">
                    <div class="dot3 bg-orange"><i class="fa fa-user-circle fa-2x"></i></div>
                    <div class="title"><span>Contacts</span>
                      <div class="number"><strong>{{contacts_count}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'accounts:list' %}">
                <div class="colrs1">
                  <div class="item d-flex align-items-center">
                    <div class="dot1 bg-green"><i class="fa fa-user fa-2x"></i></div>
                    <div class="title"><span>Accounts</span>
                      <div class="number"><strong>{{countaccount}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
            
            
            
            <div class="col-xl-3 col-md-3 col-sm-6 ">
              <a href="{% url 'opportunities:list' %}">
                <div class="colrs3">
                  <div class="item d-flex align-items-center">
                    <div class="dot5 bg-violet"><i class="fas fa-funnel-dollar fa-2x"></i></div>
                    <div class="title"><span>Opportunities</span>
                      <div class="number"><strong>{{countopportunities}}</strong></div>
                      <!-- <div class="progress">
                        <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
            
          </div>
        <!-- </div> -->
      </section>
    </div>
    <div class="col-md-12">
      <section class="charts">
        <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-lg-6">
            <div class="line-chart-example card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Sales Pipeline</h3>
              </div>
              <div class="card-body" style="padding-right:8px;">
                {% if graph %}
                  <div id="funnelExample"> {{ graph|safe }}</div>
                {% endif %}
              </div>
            </div>
            <!-- <div class="bar-chart-example card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Lead by Source</h3>
              </div>

              <div class="card-body" style="padding:15px;">
                <div id="1week">
                  <div id="weeklysource"></div>
                </div>
              </div>
            </div> -->
          </div> 
          <div class="col-lg-6">
              <div class="bar-chart-example card">
                <!-- <div class="card-close">
                  <div class="dropdown">
                    <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                  </div>
                </div> -->
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">Sales Based on Amount</h3>
                </div>
                <div class="card-body" style="padding:15px;margin-bottom:20px;">
                  <!-- <canvas id="myChart"></canvas> -->
                  <div id="weekly">
                    <div id="weeklyreport"></div>
                  </div>
                </div>
              </div>
          </div>
            
        </div>
        <!-- </div> -->
      </section>
    </div>
    <div class="col-md-12" style="margin-top: 30px;">
      <section class="charts">
        <div class="row">
          <div class="col-lg-6">
            <div class="line-chart-example card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Revenue To Date</h3>
              </div>
              <div class="card-body">
                <div class="pt-2" id="business"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="line-chart-example card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Team Quota Attainment</h3>
              </div>
              <div class="card-body">
                <!-- <div id="chartdiv"></div> -->
                <div class="pt-2" id="myFirstchart-container">{{ output|safe }}</div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12" style="margin-top:30px; margin-bottom: 30px;">
        <section class="charts">
          <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="col-md-6">
              <div class="card" >
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">Recent Accounts</h3>
                </div>
                <div class="card-body">
                  <div class="table-responsive"> 
                    {% if accounts %}                      
                    <table class="table table-striped table-hover borderless">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Name</th>
                          <th>Assigned To</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for account in accounts|slice:"10" %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>
                            <div class="text_ellipsis">
                            <a href="{% url 'accounts:view_account' account.id %}">{{account.name}}</a>
                          </div>
                          </td>
                          <td>
                            {% with users=account.assigned_to.all %}
                            {% for user in users|slice:'3' %}
                            {% if user.profile_pic %}
                            {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                            <span>
                              <a href="{% url 'common:view_user' user.id %}">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                  title="{{ user.email }}">
                              </a>
                              {% endthumbnail %}
                              {% else %}
                              <a href="{% url 'common:view_user' user.id %}">
                                <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                              </a>
                            </span>
                            <span class="text-left">{{user.email}}</span>
                            {% endif %}
                            {% empty %}
                            <span class="text-left">None</span>
                            {% endfor %}
                            {% if users|length > 3 %}
                            <div>
                              <a href="{% url 'accounts:view_account' account.id %}">
                                <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                                  </span></span></a>
                            </div>
                            {% endif %}
                            {% endwith %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <p style="text-align:center">There are no records</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- <div id="column" style="width: 500px; height: 400px; margin: 0 auto; float: left;"></div> -->
              
              <!-- <div class="line-chart-example card">
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">Annual Sales</h3>
                </div>
                <div class="card-body">
                  {% if graph %}
                    <div id="funnelExample"> {{ graph|safe }}</div>
                  {% endif %}
                </div>
              </div> -->
            </div>
                  
            <div class="col-lg-6">
                <div class="card" >
                  <!-- <div class="card-close">
                    <div class="dropdown">
                      <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                      <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                    </div>
                  </div> -->
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Recent Opportunities</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">       
                      {% if opportunities %}                
                      <table class="table table-striped table-hover borderless">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <!-- <th>Tags</th> -->
                            <th>Assigned To</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for opportunity in opportunities|slice:"10" %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                              <div class="text_ellipsis">
                              <a href="{% url 'opportunity:opp_view' opportunity.id %}">{{opportunity.name}}</a>
                            </div></td>
                            <!-- <td style="display: block;">
                              {% for tag in opportunity.tags.all|slice:'3' %}
                              <span class="text-left color{{forloop.counter}} tag_class_opp" id="list_tag"
                                data-link="{{tag.id}}" style="cursor: pointer;">{{tag.name}}</span>
                              {% empty %}
                              <span class="text-left">No Tags</span>
                              {% endfor %}
                              {% if opportunity.tags.all|length > 3 %}
                              <a href="{% url 'opportunity:opp_view' opportunity.id %}">
                                <span class="text-left" id="list_tag">{{opportunity.tags.all|length|subtract:'3'}}<span> more
                                  </span></span></a>
                              {% endif %}
                            </td> -->
                            <td>
                              {% with users=opportunity.assigned_to.all %}
                              {% for user in users|slice:'3'  %}
                              {% if user.profile_pic %}
                              {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                              <span>
                                <a href="{% url 'common:view_user' user.id %}">
                                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                    title="{{ user.email }}">
                                </a>
                                {% endthumbnail %}
                                {% else %}
                                <a href="{% url 'common:view_user' user.id %}">
                                  <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                                </a>
                              </span>
                              <span class="text-left">{{user.email}}</span>

                              {% endif %}
                              {% empty %}
                              <span class="text-left">None</span>
                              {% endfor %}
                              {% if users|length > 3 %}
                              <a href="{% url 'opportunity:opp_view' opportunity.id %}">
                                <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                                  </span></span>
                                </a>
                              {% endif %}
                              {% endwith %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% else %}
                      <p style="text-align:center">There are no records</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
  </div>

  

{% endblock %}
{% block js_block %}
<!-- <script src="/static/js/design/Chart.min.js"></script>
<script src="/static/js/charts-home.js"></script>
<script src="/static/js/charts-custom.js"></script> -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script>
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>

<script>
  // $(document).ready(function () {
  //   $("#tab1").click(function () {

  //     $("#all").show()
  //     $("#ind").hide()
  //   });
  //   $("#tab2").click(function () {

  //     $("#ind").show()
  //     $("#all").hide()
  //   })
  // });

$(function () {
  $("#reports").change(function () {
      if ($(this).val() == "year") {
          $("#weekly").hide();
          $("#monthly").hide();
          $("#yearly").show();
          
      } else if ($(this).val() == "month"){
        $("#weekly").hide();
        $("#monthly").show();
        $("#yearly").hide();
      } else {
        $("#weekly").show();
        $("#monthly").hide();
        $("#yearly").hide();
        
      }
  });
});

var currentTime = new Date();
var startDateFrom = new Date(currentTime.getFullYear(),currentTime.getMonth(),1);
console.log(startDateFrom, "---> startDateFrom")
var startDateTo = new Date(currentTime.getFullYear(),currentTime.getMonth() +1,0);
console.log(startDateTo, "startDateTo")
var today = new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate());

// From date picker
var ftg = document.getElementById('datepicker').value
console.log(ftg,"---------->>>>>>>>")
var ftgbn = document.getElementById('topicker').value
console.log(ftgbn,"---------->>>>>>>>")


var myform = document.getElementById('date_fromto_filter');
myform.onsubmit = function(){ 
  var fromdate = document.getElementById('datepicker').value
    document.getElementById('dates').value = fromdate
    var todate = document.getElementById('topicker').value
    document.getElementById('todate').value = todate
    myform.submit();
};

$("#datepicker").datepicker({
    dateFormat: 'dd-mm-yy',
    // minDate: startDateFrom,
    maxDate: '0',
    onSelect: function(selected) {
      $("#topicker").datepicker("option","minDate", selected)
    }
})

// To date picker
  $('#topicker').datepicker({
    dateFormat: 'dd-mm-yy', 
    maxDate: '0',
    onSelect: function(selected) {
      $("#datepicker").datepicker("option","maxDate", selected)
    }
  })
  // .on("input change", function (e) {
  //   console.log("Date changed: ", e.target.value);
  //   var todates = e.target.value
  //   var fromdate = document.getElementById('datepicker').value
  //   document.getElementById('dates').value = fromdate
  //   var todate = document.getElementById('topicker').value
  //   document.getElementById('todate').value = todate

  //   $("#datepicker").datepicker("option","maxDate", todate) 
  //   $('#date_fromto_filter').submit();
  // })
// graph for weekly
$('#weeklyreport').highcharts({
            chart: {
                type: 'column'
            },
            colors: [
               '#4662a0',
               '#aadb87',
               '#da495b',
               '#a87bc6',
               '#fde5a5',
               '#66ceed',
	             '#d565ad',
	             '#7ea45d',

            ],
            title: {
                text: 'Total Status',
                style: {
                  color: '#555'
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0,
                backgroundColor: '#FFFFFF'
            },
            xAxis: {
                categories: {{sales_amount|safe}},
                
            },
            scrollbar: {
              enabled: true
            },    
            yAxis: {
                title: {
                    text: 'Total Amount'
                },
                tickInterval: 1
            },
            tooltip: {
                shared: false,
                // valueSuffix: 'points'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.1
                },
            series: {
                groupPadding: .15
            }
            },
            series: [{
                name: 'Prospect',
                data: {{prospect_dts|safe}}
            }, {
                name: 'Interest',
                data: {{interest_dts|safe}}
            }, {
                name: 'Trial / POC',
                data: {{trial_poc_dts|safe}}
            },{
                name: 'Proposal / Quote Sent',
                data: {{proposal_quote_sent_dts|safe}}
            },{
                name: 'Closed / Won',
                data: {{closed_won_dts|safe}}
            },{
                name: 'Aborted / Closed Lost',
                data: {{aborted_closed_lost_dts|safe}}
            }]
        }); 

        

// graph for weekly for lead-source
$('#weeklysource').highcharts({
            chart: {
                type: 'column'
            },
            colors: [
               '#66ceed',
	             '#d565ad',
	             '#7ea45d',
	             '#eace6b',
	             '#66edc6',
               '#4662a0',
               '#aadb87',
               '#da495b',
               '#a87bc6',
               '#fde5a5',
	             '#fdb7a5'
            ],
            title: {
                text: 'Total Status',
                style: {
                  color: '#555'
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0,
                backgroundColor: '#FFFFFF'
            },
            xAxis: {
                categories: {{sales_amount|safe}},

            },
            scrollbar: {
              enabled: true
            }, 
            yAxis: {
                title: {
                    text: 'Total Status'
                },
                tickInterval: 1
            },
            
            tooltip: {
                shared: false,
                // valueSuffix: 'points'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.1
                },
            series: {
                groupPadding: .15
            }
            },
            series: [{
                name: 'Call',
                data: {{call_dts|safe}}
            }, {
                name: 'Email',
                data: {{email_dts|safe}}
            }, {
                name: 'Existing Customer',
                data: {{existing_customer_dts|safe}}
            },{
                name: 'Partner',
                data: {{partner_dts|safe}}
            },{
                name: 'Public Relations',
                data: {{public_relations_dts|safe}}
            },{
                name: 'Campaign',
                data: {{campaign_dts|safe}}
            },{
                name: 'Website',
                data: {{website_dts|safe}}
            },{
                name: 'Other',
                data: {{other_dts|safe}}
            },{
                name: 'None',
                data: {{none_dts|safe}}
            }]
        }); 

// closed business by type
Highcharts.chart('business', {
    chart: {
        type: 'column'
    },
    credits: {
      enabled: false,
    },
    title: {
        text: 'Stacked column chart'
    },
    xAxis: {
        categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total fruit consumption'
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
    },
    plotOptions: {
        column: {
            stacking: 'percent'
        }
    },
    series: [{
        name: 'John',
        data: [5, 3, 4, 7, 2]
    }, {
        name: 'Jane',
        data: [2, 2, 3, 2, 1]
    }, {
        name: 'Joe',
        data: [3, 4, 4, 2, 5]
    }]
});

// speedometer graph
Highcharts.chart('myFirstchart-container', {

chart: {
    type: 'gauge',
    plotBackgroundColor: null,
    plotBackgroundImage: null,
    plotBorderWidth: 0,
    plotShadow: false
},
credits: {
      enabled: false,
    },

title: {
    text: 'Speedometer'
},

pane: {
    startAngle: -90,
    endAngle: 90,
    background: [{
                // default background
                backgroundColor: '#fff',
                borderWidth: 0
            }]
},

// the value axis
yAxis: {
    min: 0,
    max: 200,

    minorTickInterval: 'auto',
    minorTickWidth: 1,
    minorTickLength: 10,
    minorTickPosition: 'inside',
    minorTickColor: '#666',

    tickPixelInterval: 30,
    tickWidth: 2,
    tickPosition: 'inside',
    tickLength: 10,
    tickColor: '#666',
    labels: {
        step: 2,
        rotation: 'auto'
    },
    title: {
        text: 'km/h'
    },
    plotBands: [{
        from: 0,
        to: 120,
        color: '#55BF3B' // green
    }, {
        from: 120,
        to: 160,
        color: '#DDDF0D' // yellow
    }, {
        from: 160,
        to: 200,
        color: '#DF5353' // red
    }]
},

series: [{
    name: 'Speed',
    data: [80],
    tooltip: {
        valueSuffix: ' km/h'
    }
}]

},
// Add some life
function (chart) {
if (!chart.renderer.forExport) {
    setInterval(function () {
        var point = chart.series[0].points[0],
            newVal,
            inc = Math.round((Math.random() - 0.5) * 20);

        newVal = point.y + inc;
        if (newVal < 0 || newVal > 200) {
            newVal = point.y - inc;
        }

        point.update(newVal);

    }, 3000);
}
});


</script>


{% endblock js_block %}