{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb pt-2">
    <li class="breadcrumb-item"><a href="{% url 'mail:dashboard' %}">Inbox</a></li>
    <li class="breadcrumb-item active">{{username}}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}

<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-12" id="opacity_block">
      <div class="card">
        <div class="card-body" id="datashow">
          <div class="card-title">
            <div class="row">
              <div class="col-md-4">
                <div class="text-right">
                  <h5>
                    <span class="float-left title">Email-Info</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row marl mt-3 mb-3">
            <div class="col-md-12">
              <div class="row">
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name">Name</label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name">{{username}}</div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name">From Address</label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name">{{fr_add}}</div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name"></label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name"></div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name">To Address</label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name">{{to_add}}</div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name">Subject</label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name">{{subject}}</div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name"></label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name"></div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-4">
                  <div class="row form-group">
                    <div class="col-md-6"><label class="email_field_label" for="id_name" data-name="name">Created Date/Time</label></div>
                    <div class="col-md-6">
                      <div class="email_field" id="email_name" data-name="name">{{date}}</div>
                    </div>
                  </div>
                </div>
                
                <div class="filter_col col-md-8">
                  <div class="row form-group">
                    <div class="col-md-3"><label class="email_field_label" for="id_name" data-name="name">Description</label></div>
                    <div class="col-md-9">
                      <div class="email_field" id="email_name" data-name="name">{{descpt}}</div>
                    </div>
                  </div>
                </div>
                
            
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<script src="https://malsup.github.io/jquery.form.js"></script>

{% endblock js_block %}