<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I-Pass theme template">
    <meta name="author" content="Mohamed Zufahar">
    <meta name="keywords" content="I-Pass theme template">

    <!-- Title Page-->
    <title>I-Pass</title>

    <!-- Fontfaces CSS-->
    <link href="../../static/css/font-face.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
        media="all">
    <link href="../../static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../static/css/theme.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
     
        <div >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form method="POST" action="{% url 'app:contractoredit' contractoredit_id=id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h3 class="modal-title" id="mediumModalLabel">Edit Contractor Details</h3>
                            <button type="button" class="close" onclick="location.href='../../contractor'">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="card-body card-block">
                                <div class="form-group">
                                    <label for="contractorname" class=" form-control-label">Name</label>
                                    <input type="text" id="contractorname" placeholder="Enter Contractor name"
                                        class="form-control" name="contractorname" value={{contractorname}}>
                                </div>

                                <div class="row form-group">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="contractorid" class=" form-control-label">Contractor ID</label>
                                            <input type="text" id="contractorid"
                                                placeholder="Enter Contractor ID Number" class="form-control"
                                                name="contractorid" value={{contractorid}}>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="companyname" class=" form-control-label">Company Name</label>
                                            <input type="text" id="companyname" placeholder="Enter Company Name"
                                                class="form-control" name="companyname" value={{companyname}}>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="Mail" class=" form-control-label">Mail Id</label>
                                    <input type="text" id="mail" placeholder="Enter Mail-Id" class="form-control"
                                        name="mailid" value={{mailid}}>
                                </div>
                                
                                <div class="row form-group">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="phone" class=" form-control-label">Phone</label>
                                                <input type="text" id="phone" placeholder="Enter Phone Number"
                                                    class="form-control" name="phone"  value={{phone}}>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="validity" class=" form-control-label">Validity</label>
                                                <input type="text" id="validity" placeholder="Enter Validity"
                                                    class="form-control" name="validity"  value={{validity}}>
                                            </div>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label for="Address" class=" form-control-label">Address</label>
                                    <input type="text" id="address" placeholder="Enter The Address" class="form-control"
                                        name="address" value={{address}}>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn btn-secondary" onclick="location.href='../../contractor'">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save And Proceed for QR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- edit -->

    </div>

    <!-- Jquery JS-->
    <script src="../../static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../static/vendor/slick/slick.min.js">
    </script>
    <script src="../../static/vendor/wow/wow.min.js"></script>
    <script src="../../static/vendor/animsition/animsition.min.js"></script>
    <script src="../../static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../../static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../../static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../../static/js/main.js"></script>

</body>

</html>
<!-- end document-->